*{
    /* background-color: #04048b; */
    color: black;
    margin: 0%;
    margin-bottom: 10px;
}
#header{
    margin: 10px;
    
    border-bottom: 0.5px solid grey;
}
#opentext_name{
    font-size: 40px;
    font-weight: bolder;
}
#logo{
    display: inline-block;
    margin-left: 20%;
}
#search_frame{
    display: inline-block;
}
#search_bar{
    padding-left:30px;
    /* background: url(https://cdn.pixabay.com/photo/2014/04/02/10/18/magnifying-glass-303408_960_720.png) no-repeat scroll 30px 30px; */
    display: inline-block;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 20%;
    width: 200px;
    height: 30px;
}

#login{
    display: inline-block;
    margin-left: 7%;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 25px;
}
#login,#cart{
    transition:box-shadow .3s;
}
#login,#cart,#logo:hover{
    cursor: pointer;
}
#login,#cart:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}
#search_img{
    display: inline-block;
    width: 25px;
    /* margin-left: -2%; */
}
#cart{
display: inline-block;
margin-left: 6%;
padding: 6px;
border-radius: 20px;
}
#cart_img{
    width: 45px;
}
a{
    text-decoration: none;
}





#products_frame{
    display: inline-block;
    margin-top: 40px;
margin-left: 20%;
/* border: 3px solid black; */
width: 40%;
}
.cart_products{
    border: 0.5px solid grey;
    border-radius: 20px;
    transition: box-shadow .3s;  
    display: table ;
    font-size: large;
    margin: 30px;
    margin-left: 100px;
    padding: 20px;
    /* margin-left: 30px; */
    display:table;
    /* margin-right: 20px; */
}
.product_img{
    width: 120px;
    height: 120px;
}
.product_name,.product_price,.quantity{
    
    display: table-cell; 
    vertical-align: middle;
    text-align:center;
    
    /* border: 2px solid black; */
    padding: 30px;
}
.cart_products:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.ruppe,.plus,.minus{
    
    display: table-cell; 
    vertical-align: middle;
    text-align:center;
    /* border: 2px solid black; */
}
#total_price,#text_total{
    display: inline-block;
    font-size:x-large;

}
#text_total{
    margin-left: 20%;

}
.plus,.minus:hover{
    cursor: pointer;
}